.email {
  margin-left: 0;
}

.field {
margin-bottom: 10px;
display: flex;
align-items: flex-start;
}

.field label {
display: block;
font-size: 16px;
color: rgb(65, 65, 65);
width: 5rem;
}

.field input {
display: block;
min-width: 60%;
line-height: 1.5;
font-size: 14px;
}

input[type="submit"] {
margin-top: 1rem;
display: block;
padding: 6px 30px;
font-size: 14px;
background-color: #4460AA;
color: #fff;
border: none
}

input[type="submit"]:hover {
    background-color: #344f8e; /* Change color on hover */
    transform: scale(1.05); /* Add a slight scale effect on hover */
  }
  
  input[type="submit"]:active {
    transform: scale(0.95); /* Add a slight scale effect on click */
  }

input, textarea {
    display: flex;
    align-items: center;
}

textarea {
    width: 60%;
    height: 100px;
}

.button-container {
  padding-bottom: 1rem;
  padding-left: 5rem;
}