:root {
    font-family: 'Open Sans';
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 400px;

}
.welcome-section {
    display: flex;
    padding-top: 0;
    align-items: flex-start;
    width: 85%;
    overflow-x: hidden;
}

.terms-section {
    display: flex;
    align-items: flex-start;
}

.reasons {
    height: 10em;
    will-change: filter;
    transition: filter 300ms;
    border: 10px solid hwb(211 30% 0%);
    border-radius: 10px;
}
.reasons:hover {
    filter: drop-shadow(0 0 2em rgb(210, 54, 158));
    border: 12px solid rgb(210, 54, 158);
}
.reasons.react:hover {
    filter: drop-shadow(0 0 2em #ffc5f2aa);
}

.text-next-to-svg {
    display: inline-block;
    vertical-align: top;
    width: 175px;
    word-wrap: break-word;
    padding: .5em;
}

p {
    word-wrap: break-word; /* Ensure long words break onto a new line */
    white-space: normal; /* Allow text to wrap onto a new line */
    overflow-wrap: break-word; /* Handle word breaks properly */
  }

@media only screen and (min-width: 600px) {
    .terms {
        text-align: left;
    }
    .welcome-section {
        padding-left: 7rem;
    }
}

@media only screen and (max-width: 600px) {
    .welcome-section {
        padding-left: 1rem;
    }
}

