:root {
  font-size: 16px;
  font-family: 'Open Sans';
  color-scheme: light dark;
  --text-primary: #ffffff;
  --text-secondary: #ececec;
  --bg-primary: #73739a;
  --bg-secondary: #141418;
  --transition-speed: 300ms;
}

.simple-main {
  margin-left: 5rem;
  padding: 1rem;
}

/* CSS code for styling the scroll bar */
/* For Chrome, Edge, and Safari browsers */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--bg-primary); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  width: .25rem;
  background-color: black; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--bg-primary); /* creates padding around scroll thumb */
}


/* Small screens */
@media only screen and (max-width: 600px) {
  .simple-main {
    padding: 3px;
    margin-left: 0;
    padding-bottom: 5rem;
  }

  ::-webkit-scrollbar, ::-webkit-scrollbar-track {
    width: 0; /* width of the entire scrollbar */
  }
}

.dark {
  --text-primary: #ffffff;
  --text-secondary: #ffffff;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}





h2 {font-size: 20px;}